/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  /*========== Colors ==========*/
  --first-color: hsl(11, 20%, 84%);
  --first-color-lighter: hsl(17, 41%, 97%);
  --font-color: #6f4e55;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: var(--body-font);
  font-size: 0.938rem;
  background-color: #8a7479;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --- HEADER ---- */
#header {
  outline: none;
  width: 100%;
  height: 100vh;
  background-color: hsl(11, 20%, 84%);
  background-size: cover;
  background-position: center;

}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #8a7479;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
}

/*header words*/
nav ul li a {
  color: var(--first-color-lighter);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  transition: color 0.5;
}

nav ul li a:hover {
  color: #a79898;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 85px 50px 120px 60px;
  transition: background-color 0.3s ease;
}

.header-content {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.header-text {
  margin-top: 12%;
  font-size: 25px;
  text-align: left;
  color: #a79898;
  font-style: normal;
  line-height: 2.8;
  padding-left: 2.2rem;
}

.header-text h2 {
  font-size: 35px;
  color: #867474;
  text-align: left;
  font-style: normal;
  padding-left: 1.0rem;
}

.header-text h1 {
  font-size: 90px;
  color: #5e444a;
  font-style: normal;
  line-height: 1.0;
}

.header-photo {
  width: 500px;
  margin-left: auto;
  margin-bottom: 50px;
  padding: 0 0.25rem;
  overflow: hidden;
}

.linkedin__button {
  padding: 20px;
  background-color: #fff;
  color: #a79898;
  border: none;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;
  margin-right: 0.8rem;

}

.github__button {
  padding: 20px;
  background-color: #fff;
  color: #a79898;
  border: none;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;

}

.linkedin__button:hover {
  background-color: var(--font-color);
  color: #fff;
}

.github__button:hover {
  background-color: var(--font-color);
  color: #fff;
}

/*==================== ABOUT ====================*/

.about {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: hsl(17, 41%, 97%);
}

.about__description {
  text-align: left;
  margin-bottom: 2.5rem;

}

/*==================== SKILLS ====================*/
.skills {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: hsl(13, 26%, 93%);
}
.languages, 
.tools{
  margin-top: 10px;
  width: 40%;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.column h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  width: 100%; 
}

.skills__name {
  font-size: 18px;
  font-weight: 500;
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: .25rem;
}

.skills__bar {
  background-color: #fff;
}

.skills__percentage {
  display: block;
  background-color: var(--font-color);
}

.skills__python,
.skills__java {
  width: 100%;
}

.skills__assembly,
.skills__c {
  width: 80%;
}

.skills__r,
.skills__html {
  width: 90%;
}

.skills__title {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2rem;
  padding-right: 2 rem;
}

.underline {
  font-size: 25px;
  font-weight: bold;
}

h3.underline {
  display: inline-block;
  border-bottom: 2px solid var(--font-color); /* Adjust the color and thickness as needed */
  padding-bottom: 5px;
}

/*==================== EDUCATION ====================*/
.education {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color:hsl(17, 41%, 97%);
}

.dates {
  font-weight: 300;
  font-size: 18px;
  color: #746064;
  font-weight: 400;
}

.school {
  margin-top: 15px;
  margin-bottom: 35px;
}

.location {
  font-size: 18px;
  color: hsl(214, 9%, 48%);
}


/*==================== EXPERIENCE ====================*/
.experience {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: hsl(13, 26%, 93%);
}


/*==================== PROJECTS ====================*/
.projects {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: hsl(17, 41%, 97%);
}

.projects__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.section__title {
  font-size: 40px;
  color: #5e444a;
  font-weight: bold;
  margin-bottom: 30px;
}

.projects__img {
  max-width: 100%;
}

.projects__title {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.projects__description {
  margin-bottom: 0.75rem;
}

.projects__button:hover .button__icon {
  transform: translateX(.25rem);
}

.more-details-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: var(--font-color);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.more-details-btn:hover {
  background-color: #a79898;
}

.project {
  display: inline-block;
  width: 45%;
  margin: 0 1%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.project img {
  max-width: 100%;
  height: auto;
}

/*==================== CONTACT ME ====================*/
.contact-container {
  padding: 80px 120px 120px 120px;
  /* max-width: 700px;
  margin: 50px auto; */
  font-size: 20px;
  background-color:  hsl(13, 26%, 93%);
}

.contact-header {
  font-size: 40px;
  color: #5e444a;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b7b8bb;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--font-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #a79898;
  color: var(--first-color-lighter);
}


/*==================== FOOTER ====================*/

.footer {
  padding: 0 0 0 120px;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: #8a7479;
  padding: 2rem 0 2rem;
}

.footer-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: var(--first-color-lighter);
}

.footer-subtitle {
  font-size: 20px;
  color: var(--first-color);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.copyright {
  font-size: 18px;
  margin-top: 3rem;
  width: 100%;
  text-align: center;

  color: var(--first-color);
}


.footer__title,
.footer__social {
  color: #fff;
}