/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: hsl(227, 38%, 14%);
  --first-color-lighter: hsl(215, 31%, 75%);


  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: hsl(25, 32%, 96%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* --- HEADER ---- */
#header{
  outline: none;
  width: 100%;
  height: 100vh;
  background-color: var(--first-color);
  background-size: cover;
  background-position: center;
  
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
}

/*header words*/
nav ul li a{
  color: hsl(215, 48%, 65%);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  transition:  color 0.5;
}
nav ul li a:hover{
  color: #fff;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for a subtle effect */
}

/* Additional styles for the changed background color */
.sticky-header.changed-color {
  background-color: var(--first-color);
}

.header-container{
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 85px 50px 120px 60px;
  transition: background-color 0.3s ease; 
}

.header-content {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.header-text{
  margin-top: 12%; 
  font-size: 25px;
  text-align:left;
  color: var(--first-color-lighter);
  font-style: normal;
  line-height: 2.8;
  padding-left: 2.2rem;
}
.header-text h2{
  font-size: 35px;
  color: #fff;
  text-align: left;
  font-style: normal;
  padding-left: 1.0rem;
}
.header-text h1{
  font-size: 90px;
  color: #fff;
  font-style: normal;
  line-height: 1.0;
}

.header-photo {
  width: 500px;
  /* max-width: 100%; Ensure the image does not exceed its container */
  height: auto;
  margin-left: auto; /* Move the photo to the right */
  margin-bottom: 50px;
  padding: 0 1.6rem;
}

.linkedin__button{
  padding: 20px;
  background-color:#fff;
  color: var(--first-color);
  border: none;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;
  margin-right: 0.8rem;

}

.github__button{
  padding: 20px;
  background-color:#fff;
  color: var(--first-color);
  border: none;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;

}

.linkedin__button:hover{
  background-color: hsl(243, 25%, 73%);
  color: #fff;
}
.github__button:hover{
  background-color: hsl(243, 25%, 73%);
  color: #fff;
  }

/*==================== ABOUT ====================*/

.about{
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: #fff;
}

.about__description{
  text-align:left;
  margin-bottom: var(--mb-2-5);
  
}

/*==================== SKILLS ====================*/
.skills{
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: #fff;
}

.languages,
.tools{
  display: inline-block;
  justify-content: space-between;
}

.skills__name{
  font-size: 18px;
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage{
  height: 5px;
  border-radius: .25rem;
}

.skills__bar{
  background-color:hsl(214, 37%, 55%);
}

.skills__percentage{
  display: block;
  background-color: hsl(227, 32%, 30%);
}

.skills__python, 
.skills__java{
  width: 100%;
}

.skills__assembly,
.skills__c{
  width: 80%;
}

.skills__r,
.skills__html{
  width: 90%;
}

.skills__title{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.skills__list{
  row-gap: 1.5rem;
  padding-left: 2rem;
}

.type{
  font-size: 25px;
  font-weight: bold;
}

/*==================== EDUCATION ====================*/
.education{
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: #fff;
}

.dates{
  font-weight: 300;
  font-size: 18px;
  color: hsl(214, 36%, 53%);
}

.school{
  margin-top: 15px;
  margin-bottom: 35px;
}

.location{
  font-size: 18px;
  color:hsl(214, 9%, 48%);
}


/*==================== EXPERIENCE ====================*/
.experience{
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: #fff;
}


/*==================== PROJECTS ====================*/
.projects{
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: #fff;
}
.projects__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section__title {
  font-size: 40px;
  color:hsl(227, 39%, 19%);
  font-weight: bold;
  margin-bottom: 30px;
}

.projects__img{
  max-width: 100%;
}

.projects__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.projects__description{
  margin-bottom: var(--mb-0-75);
}

.projects__button:hover .button__icon{
  transform: translateX(.25rem);
}

.more-details-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color:hsl(227, 39%, 19%);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.more-details-btn:hover {
  background-color:  hsl(227, 22%, 64%);
}

.more-details-btn:hover .button__icon{
  transform: translateX(.25rem);
  background-color:  hsl(227, 22%, 64%);
  transition: background-color 0.3s ease-in-out;
}

.project {
  width: 48%;
  margin-bottom: 20px;
}

/*==================== CONTACT ME ====================*/
.contact-container{
  padding: 80px 120px 120px 120px; 
  /* max-width: 700px;
  margin: 50px auto; */
  font-size: 20px;
  background-color:hsl(213, 44%, 86%) ;
}

.contact-header {
  font-size: 40px;
  color:var(--first-color);
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b7b8bb;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:var(--first-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--first-color-lighter);
  color: var(--first-color);
}


/*==================== FOOTER ====================*/

.footer{
  padding-top: 0rem;
}

.footer__container{
  row-gap: 3.5rem;
}

.footer__bg{
  background-color: var(--first-color);
  padding: 2rem 0 2rem;
}

.footer__title{
  font-size: 30px;
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
  font-size: 20px;
  color: hsl(227, 22%, 64%);
}

.footer__social{
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover{
  color: var(--first-color-lighter);
}

.copyright{
  font-size: 18px;
  margin-top: var(--mb-3);

  width: 100%;
  text-align: center;

  color: var(--first-color-lighter);
}


.footer__title,
.footer__subtitle,
.footer__social {
  color: #FFF;
}





