/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  /*========== Colors ==========*/
  --font-color: #5a384039;
  --main_colour: hsl(236, 42%, 14%);
  --second_color: rgba(248, 242, 240, 0.937);
  --third_color: rgba(246, 238, 235, 0.919);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.938rem;
  background-color: hsl(236, 42%, 14%);
}

/* --- HEADER ---- */
#header {
  outline: none;
  width: 100%;
  height: 100vh;
  background-color: hsl(236, 42%, 14%);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--first-color);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
}

/*header words*/
nav ul li a {
  color: var(--second_color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  transition: color 0.5;
}

nav ul li a:hover {
  color: hsla(238, 23%, 32%, 0.84);
}

.header-container {
  display: flex;
  align-items: center;
  padding: 85px 50px 120px 60px;
  transition: background-color 0.3s ease;
}

.header-content {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.header-text {
  margin-top: 12%;
  margin-bottom: 12%;
  font-size: 25px;
  text-align: center;
  color: #c5c7dcdc;
  font-style: normal;
  line-height: 2.8;
}

.header-text h2 {
  font-size: 35px;
  color: #c5c7dcdc;
  text-align: center;
  font-style: normal;
}

.header-text h1 {
  font-size: 90px;
  color: var(--second_color);
  font-style: normal;
  line-height: 1.0;
}

.linkedin__button {
  padding: 20px;
  background-color: var(--second_color);
  color: var(--main_colour);
  border: none;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;
  margin-right: 0.8rem;

}

.github__button {
  padding: 20px;
  background-color: var(--second_color);
  color: var(--main_colour);
  border: none;
  cursor: pointer;
  width: 130px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 35px;

}

.linkedin__button:hover {
  background-color: hsla(238, 23%, 32%, 0.84);
  color: rgba(241, 240, 248, 0.894);
}

.github__button:hover {
  background-color: hsla(238, 23%, 32%, 0.84);
  color: rgba(241, 240, 248, 0.894);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*==================== ABOUT ====================*/

.about-container {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: var(--second_color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.about-col-1 img {
  width: 275px;
  border-radius: 50%;
  box-shadow:
    0 0 0 7px var(--second_color),
    0 0 0 10px var(--main_colour);
}

.about-col-2 {
  flex-basis: 70%;
}

.about-col-2 h1 {
  margin-bottom: 20px;
  font-size: 40px;
  color: var(--main_colour);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.tab-contents {
  display: flex;
}

.tab-section {
  flex: 1;
}

.tab-titles {
  display: flex;
  margin: 50px 0 15px 0;
}

.tab-titles div {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.column li {
  margin-bottom: 10px;
  margin-left: 20px;
  color: #080808;
  font-size: 18px;
}

/*==================== SKILLS ====================*/
.skills {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  width: 100%;
}

.skills__name {
  font-size: 18px;
  font-weight: 500;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.underline {
  font-size: 25px;
  font-weight: bold;
}

h3.underline {
  display: inline-block;
  border-bottom: 2px solid var(--font-color);
  padding-bottom: 5px;
}


/*==================== EDUCATION ====================*/
.education {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: var(--third_color);
}

.dates {
  font-weight: 300;
  font-size: 18px;
  color: #746064;
  font-weight: 400;
}

.school {
  margin-top: 15px;
  margin-bottom: 35px;
}

.location {
  font-size: 18px;
  color: hsl(214, 9%, 48%);
}


/*==================== EXPERIENCE ====================*/
.experience {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: var(--second_color);
}


/*==================== PROJECTS ====================*/
.projects-container {
  padding: 80px 120px 120px 120px;
  text-align: left;
  background-color: var(--third_color);
}

.projects-header {
  font-size: 40px;
  color: var(--main_colour);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.project {
  display: inline-block;
  width: 45%;
  margin: 0 1%;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.project img {
  max-width: 100%;
  height: 230px;
  border-radius: 6px;
}

.project h3 {
  font-size: 24px;
  margin-top: 10px;
}

.project p {
  font-size: 16px;
  margin-top: 10px;
}

.more-details-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: var(--main_colour);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.more-details-btn:hover {
  background-color: hsla(238, 23%, 32%, 0.84);
}


/*==================== CONTACT ME ====================*/
.contact-container {
  padding: 80px 120px 120px 120px;
  font-size: 20px;
  background-color: var(--second_color);
}

.contact-header {
  font-size: 40px;
  color: var(--main_colour);
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #b7b8bb;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--main_colour);
  color: whitesmoke;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: hsla(238, 23%, 32%, 0.84);
  color: var(--second_color);
}


/*==================== FOOTER ====================*/

.footer {
  padding: 0 0 0 120px;
}

.footer__container {
  row-gap: 3.5rem;
}

.footer__bg {
  background-color: hsl(236, 42%, 14%);
  padding: 2rem 0 2rem;
}

.footer-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: var(--second_color);
}

.footer-subtitle {
  font-size: 20px;
  color: var(--second_color);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}

.footer__social:hover {
  color: var(--second_color);
}

.copyright {
  font-size: 18px;
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  color: var(--third_color);
}

.footer__title,
.footer__social {
  color: var(--third_color);
}